doctype strict
html(lang='en-US')
  head
    meta(content="http://www.closerapp.mx" type="og:url")
    meta(meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(property="og:image" content="/img/logo.png")
    meta(meta content="Closer - Because once you get away from the digital world, life feels  great" property="og:description")
    link(rel="shortcut icon" type="image/ico" href="/img/logo.png")
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="stylesheet" type="text/css" href="/css/animate.css")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    title Closer - Connecting people
  body
    nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-brand-centered')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand.navbar-brand-centered LOGOTIPO
        #navbar-brand-centered.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Crear un nuevo usuario
            li
              a(href='/users/') Ver todos los usuarios
    block contenido
    
