doctype strict
html(lang='en-US')
  head
    meta(content="http://www.closerapp.mx" type="og:url")
    meta(meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(property="og:image" content="/img/logo.png")
    meta(meta content="Closer - Because once you get away from the digital world, life feels  great" property="og:description")
    link(rel="shortcut icon" type="image/ico" href="/img/logo.png")
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="stylesheet" type="text/css" href="/css/animate.css")
    title Closer - Connecting people
  body
    block contenido
script(src="https://code.jquery.com/jquery-1.11.3.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
